/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    padding: 0;
    margin: 50px 0 0;
    font-family: 'Poppins', sans-serif;
}
header nav{
    margin-left: 140px;
    margin-right: 140px;
    height: 40px;
    margin-bottom: 50px;
    border: 5px solid red;
}
.slider{
    margin: 0 140px;
    height: 500px;
    border: 5px solid red;
    margin-bottom: 130px;
}
main{
    margin: 0 140px;
    border: 5px solid green;
    margin-bottom: 130px;
}
.course-img{
    height: 200px;
}
.price{
    font-size: large;
    font-weight: 800;
    color: blue;
}
footer{
    height: 300px;
}
.social{
    color: white;
    margin: 10px;
}
.social:hover{
    color: orange;
}