/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Styles */
body {
  font-family: "Poppins", sans-serif;
}
.custom-nav-link:hover {
  color: orange;
}
.image-filter {
  filter: brightness(50%);
}
.bg-color {
  background-color: #e9ecef;
}
.course-img {
  height: 200px;
}
.price {
  font-size: large;
  font-weight: 800;
  color: #289bde;
}
.ready-section {
  background-color: #289bde;
}
.register {
  color: #289bde;
}
#successfull {
  margin-top: 200px;
}
.prev-icon {
  background-color: #289bde;
}
.next-icon {
  background-color: rgb(4, 4, 80);
}

.social {
  color: white;
  margin: 10px;
}
.social:hover {
  color: orange;
}
