/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    padding: 0;
    margin: 50px 0 0;
    font-family: 'Poppins', sans-serif;
}
main{
    margin-bottom: 130px;
}
.course-img{
    height: 200px;
}
.price{
    font-size: large;
    font-weight: 800;
    color: #289BDE;
}
.ready-section{
    background-color: #289BDE;
}
.register{
    color: #289BDE;
}
.social{
    color: white;
    margin: 10px;
}
.social:hover{
    color: orange;
}